Service References/TTSHWCFReference/WcfAjaxServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="WcfAjaxServices" elementFormDefault="qualified" targetNamespace="WcfAjaxServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TTSH.Entity" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProject_MasterDetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProject_MasterDetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetProject_MasterDetailsByIDResult" nillable="true" type="q1:Project_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Master">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_Project_Master" nillable="true" type="q2:Project_Master" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="pdi" nillable="true" type="q3:ArrayOfProject_Dept_PI" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="pcd" nillable="true" type="q4:ArrayOfProject_Coordinator_Details" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_MasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Project_MasterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PI_Master">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_PI_Master" nillable="true" type="q5:PI_Master" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PI_MasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PI_MasterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrid_Project_Master">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrid_Project_MasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillGrid_Project_MasterResult" nillable="true" type="q6:ArrayOfProject_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPI_MasterDetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPI_MasterDetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPI_MasterDetailsByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDropDownData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="dropDownName" type="q7:DropDownName" />
        <xs:element minOccurs="0" name="param1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param5" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDropDownDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetDropDownDataResult" nillable="true" type="q8:ArrayOfclsDropDown" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ModuleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_A" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_B" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_C" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_D" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValidateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ModuleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_A" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_B" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_C" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_D" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetValuesResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeasibility_DetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeasibility_DetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetFeasibility_DetailsByIDResult" nillable="true" type="q10:Feasibility_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Feasibility_Details">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_Feasibility_Details" nillable="true" type="q11:Feasibility_Details" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="mode" type="q12:Mode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Feasibility_DetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Feasibility_DetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Feasibility_FillGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Feasibility_FillGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="Feasibility_FillGridResult" nillable="true" type="q13:ArrayOfFeasibility_Grid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sponsor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="sponsor" nillable="true" type="q14:Sponsor_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SponsorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SponsorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="CRO" nillable="true" type="q15:CRO_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CROResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEthics_DetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEthics_DetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetEthics_DetailsByIDResult" nillable="true" type="q16:Ethics_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ethics_Details">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_Ethics_Details" nillable="true" type="q17:Ethics_Details" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="mode" type="q18:Mode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ethics_DetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ethics_DetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ethics_FillGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ethics_FillGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="Ethics_FillGridResult" nillable="true" type="q19:ArrayOfEthics_Grid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selected_FillGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSelectedTeamUser" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selected_FillGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="Selected_FillGridResult" nillable="true" type="q20:ArrayOfSelected_Grid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="CRA" nillable="true" type="q21:CRA_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelected_Project_DetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelected_Project_DetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetSelected_Project_DetailsByIDResult" nillable="true" type="q22:Selected_Project_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selected_Project_Details">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_Selected_Project_Details" nillable="true" type="q23:Selected_Project_Details" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="mode" type="q24:Mode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selected_Project_DetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Selected_Project_DetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContract_Collobrator_MasterByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContract_Collobrator_MasterByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetContract_Collobrator_MasterByIDResult" nillable="true" type="q25:Contract_Collobrator_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollobrator_MasterDetailByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollobrator_MasterDetailByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCollobrator_MasterDetailByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="ContextKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTextResult" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrid_Contract_Master">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrid_Contract_MasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillGrid_Contract_MasterResult" nillable="true" type="q27:ArrayOfContract_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrid_Contract_Details">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrid_Contract_DetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillGrid_Contract_DetailsResult" nillable="true" type="q28:ArrayOfContract_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContract_DetailsDetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContract_DetailsDetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetContract_DetailsDetailsByIDResult" nillable="true" type="q29:Contract_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContract_MasterDetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContract_MasterDetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetContract_MasterDetailsByIDResult" nillable="true" type="q30:Contract_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillProjectDataforContractUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillProjectDataforContractUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillProjectDataforContractUsersResult" nillable="true" type="q31:ProjectDataforContractUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetContractDetaResult" nillable="true" type="q32:Contract_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contract_Collobrator_Master_DML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_Contract_Collobrator_Master" nillable="true" type="q33:Contract_Collobrator_Master" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contract_Collobrator_Master_DMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contract_Collobrator_Master_DMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contract_Details_DML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_Contract_Details" nillable="true" type="q34:Contract_Details" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="lstSelCollab" nillable="true" type="q35:ArrayOfSelectedCollborators_Details" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="lstSelClause" nillable="true" type="q36:ArrayOfSelected_Clause_Details" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="lstmultiple" nillable="true" type="q37:ArrayOfContractDetails_MultipleContractFile" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contract_Details_DMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contract_Details_DMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contract_Master_DML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_Contract_Master" nillable="true" type="q38:Contract_Master" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="clist" nillable="true" type="q39:ArrayOfContract_Collaborator_Details" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contract_Master_DMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contract_Master_DMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractDetails_MultipleContractFile_DML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_ContractDetails_MultipleContractFile" nillable="true" type="q40:ContractDetails_MultipleContractFile" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractDetails_MultipleContractFile_DMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractDetails_MultipleContractFile_DMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateADUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Adserver" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateADUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateADUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateADUsersByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateADUsersByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateADUsersByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGroupNamesResult" nillable="true" type="q41:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenusByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenusByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetMenusByGroupResult" nillable="true" type="q42:ArrayOfADUserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q43:ADUserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserADDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ADServer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserADDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetUserADDetailsResult" nillable="true" type="q44:ArrayOfADUserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserGUIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGroupsResult" nillable="true" type="q45:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportToExcel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportToExcelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchInputValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchFilterCriteria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSearchDataResult" nillable="true" type="q46:ArrayOfKeyValueOfstringArrayOfSearchp9K3Nc1C" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrid_Audit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrid_AuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillGrid_AuditResult" nillable="true" type="q47:ArrayOfAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGridRegulatoryMain">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGridRegulatoryMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillGridRegulatoryMainResult" nillable="true" type="q48:ArrayOfRegulatory_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewProjectEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewProjectEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetNewProjectEntryResult" nillable="true" type="q49:RegulatoryNewProjectEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGridRegulatoryDetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGridRegulatoryDetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillGridRegulatoryDetailsByIDResult" nillable="true" type="q50:ArrayOfRegulatory_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Regulatory_Master_DML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_Regulatory_Master" nillable="true" type="q51:Regulatory_Master" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="lstRegulatory_StudyTeam" nillable="true" type="q52:ArrayOfRegulatory_StudyTeam" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="lstRegulatory_ICF_Details" nillable="true" type="q53:ArrayOfRegulatory_ICF_Details" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="lstRegulatory_Submission_Status" nillable="true" type="q54:ArrayOfRegulatory_Submission_Status" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="lstRegulatory_Ammendments_Details" nillable="true" type="q55:ArrayOfRegulatory_Ammendments_Details" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="lstRegulatoryIPManagement" nillable="true" type="q56:ArrayOfRegulatoryIPManagement" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Regulatory_Master_DMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Regulatory_Master_DMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegulatory_MasterDetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegulatory_MasterDetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetRegulatory_MasterDetailsByIDResult" nillable="true" type="q57:Regulatory_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetAllMenusResult" nillable="true" type="q58:UserMenuRights" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuxml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleid" type="xs:int" />
        <xs:element minOccurs="0" name="createdby" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Edate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetProjectDetailsResult" nillable="true" type="q59:ArrayOfRptSelectedProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentWithProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentWithProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetDocumentWithProjectResult" nillable="true" type="q60:DocumentManagementSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetDocumentsResult" nillable="true" type="q61:ArrayOfDocumentManagementSystemFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="docManSys" nillable="true" type="q62:ArrayOfDMS_DocumentManagementSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDocumentDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRptProjectCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRptProjectCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="ListRptProjectCategoryResult" nillable="true" type="q63:ArrayOfRptProjectCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRptProjectType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRptProjectTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="ListRptProjectTypeResult" nillable="true" type="q64:ArrayOfRptProjectType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRptDepartment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRptDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="ListRptDepartmentResult" nillable="true" type="q65:ArrayOfRptDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRptPIName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRptPINameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="ListRptPINameResult" nillable="true" type="q66:ArrayOfRptPIName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRptPINameByDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRptPINameByDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="ListRptPINameByDepartmentResult" nillable="true" type="q67:ArrayOfRptPIName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetAllDataOwnerResult" nillable="true" type="q68:ArrayOfDataOwner_Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByDO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByDOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetProjectsByDOResult" nillable="true" type="q69:ArrayOfProject_DataOwner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrid_GrantApplication">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrid_GrantApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillGrid_GrantApplicationResult" nillable="true" type="q70:ArrayOfGrantApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grant_Application">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="grant_Master" nillable="true" type="q71:Grant_Master" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="pdi" nillable="true" type="q72:ArrayOfProject_Dept_PI" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grant_ApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Grant_ApplicationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrantApplicationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrantApplicationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetGrantApplicationDetailsResult" nillable="true" type="q73:GrantMasterDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewProjectDetailsForGrant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewProjectDetailsForGrantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetNewProjectDetailsForGrantResult" nillable="true" type="q74:GrantMasterDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrantDetailGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrantDetailGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillGrantDetailGridResult" nillable="true" type="q75:ArrayOfGrant_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrantDetailNewProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrantDetailNewProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillGrantDetailNewProjectResult" nillable="true" type="q76:GrantNewProjectEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrantDetailsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrantDetailsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetGrantDetailsByIdResult" nillable="true" type="q77:Grant_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrantSeniorCSCSGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillGrantSeniorCSCSGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="FillGrantSeniorCSCSGridResult" nillable="true" type="q78:ArrayOfSenior_CSCS_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Senior_CSCS_Details_DML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="_Senior_CSCS_Details" nillable="true" type="q79:Senior_CSCS_Details" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Senior_CSCS_Details_DMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Senior_CSCS_Details_DMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSenior_CSCS_DetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSenior_CSCS_DetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/TTSH.Entity" minOccurs="0" name="GetSenior_CSCS_DetailsByIDResult" nillable="true" type="q80:Senior_CSCS_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>